<div *ngIf="authService.isAuthenticated()" class="fixed top-0 w-full z-10 flex items-center justify-between h-16 bg-white text-black">
    <div class="flex items-center pl-4">
      <button><img class="w-8 h-8" src="/favicon.ico" alt="" [routerLink]="['/home']"></button>
      <button class="ml-4 text-white bg-black w-20 h-12 rounded-full">Home</button>
      <button class="ml-4 text-black">Create</button>
    </div>
    <div class="w-4/6 text-center">
        <div class="relative">
            <input type="text" class="w-full h-12 px-4 rounded-full bg-gray-200 text-gray-700" placeholder="Search...">
        </div>
        
    </div>
    <div class="flex items-center pr-4">
      <button><img class="w-8 h-8" src="/assets/notification.ico" alt=""></button>
      <button><img class="w-14 h-14" src="/assets/msg.png" alt=""></button>
      <button class="ml-4 rounded-full flex items-center justify-center"><img class="w-14 h-14" src="/assets/user.png" alt=""></button>
      <div class="relative">
        <a class="mx-auto my-auto"><i class="">
            <app-dropdown-menu></app-dropdown-menu>
          </i>
        </a>
      </div>
      
     
  </div>
</div>

<div *ngIf="!authService.isAuthenticated()" class="fixed top-0 w-full z-10 flex items-center justify-between h-16 bg-white text-black">
  <div class="flex items-center">
    <button><img class="w-8 h-8" src="/favicon.ico" alt="" [routerLink]="['/login']"></button>
  </div>
  <div class="flex items-center">
      <button type="button" class="ml-4 text-white bg-red-600 w-20 h-12 rounded-full" [routerLink]="['/login']">Log in</button>
      <button type="button" class="ml-4 text-black bg-gray-200 w-20 h-12 rounded-full" [routerLink]="['/register']">Sign up</button>
  </div>
</div>